{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    Ваша корзина
{% endblock %}

{% block content %}
    <body style="background: #f6f6f9; position: relative;">
        <h1 style="padding-left: 11%">Ваша корзина</h1>
        <div class="sidebar" style="border-radius: 42px;">
            <div style="width: 20%; height: 21%; background: #fff; display: block; position: absolute; padding-left: 1%; padding-top: 1%; padding-right: 1%; border-radius: 20px;">
                <a href='#' class="address">Выбрать адрес доставки</a>
                <p style="margin-top: 10%;" class="total-count">Товары, {{ cart_item_copy.get_total_count }} шт.</p>
                <div style="display:flex; justify-content: space-between;">
                    <h2 style="flex: 1 0;">Итого: </h2>
                    <h2 class="total-price" style="flex: 0 1; white-space: nowrap;">{{ cart_item_copy.get_total_price }} ₽</h2>
                </div>
                <a href="{% url 'orders:order_create' %}" class="placing-order">
                    <div class="place-order-div">
                        <p style="padding-top: 4%; margin-top: 0;">Оформить заказ</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="product-data" style="margin-left: 10%; padding: 1%; background-color: #fff; max-width: 60%; padding: 2%; border-radius: 20px;">
            <table class="cart" style="width: 100%; border-radius: 20px;">
                <thead>
                    <!-- <tr>
                        <th style="">Изображение</th>
                        <th>Товар</th>
                        <th>Количество</th>
                        <th>Удалить</th>
                        <th>Цена за единицу товара</th>
                        <th>Цена</th>
                    </tr> -->
                </thead>
                <tbody style="border-radius: 20px;">
                    {% for item in cart_item %}
                        {% with product=item.product %}
                            <tr data-action="product-id">
                                <td>
                                    <a href="{{ product.get_absolute_url }}">
                                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                                    </a>
                                </td>
                                <td>{{ product.name }}</td>
                                <td class="count-products">
                                    <input type="hidden" class="product-id" value="{{ product.id }}">
                                    {% csrf_token %}
                                    <button type="button" data-action="minus" class="change-count">-</button>
                                    <input class="quantity-input" data-counter value="{{ item.quantity }}">
                                    <button type="button" data-action="plus" class="change-count">+</button>
<!--                                    <form class="form_plus" action="{% url 'cart:cart_add' product.id %}" method="post">-->
<!--&lt;!&ndash;                                        {{ item.update_quantity_form.quantity }}&ndash;&gt;-->
<!--&lt;!&ndash;                                        {{ item.update_quantity_form.override }}&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="submit" value="Обновить">&ndash;&gt;-->
<!--                                            {{ item.update_quantity_form.quantity }}-->
<!--                                            {{ item.update_quantity_form.override }}-->
<!--                                            <input type="button" data-action="plus" value="+">-->
<!--                                        {% csrf_token %}-->
<!--                                    </form>-->
                                </td>
                                <td>
                                    <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                                        <input type="submit" value="Удалить">
                                        {% csrf_token %}
                                    </form>
                                </td>

                                <td class="num product-price">{{ item.product.price }} ₽</td>
                                <td class="num price">{{ item.total_price }} ₽</td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    {% if cart.coupon %}
                        <tr class="subtotal">
                            <td>Промежуточный итог</td>
                            <td colspan="4"></td>
                            <td class="num">
                                <p class="subtotal-price">{{ cart_item_copy.get_total_price }} ₽</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                "{{ cart.coupon.code }}" купон
                                ({{ cart.coupon.discount }}% скидка)
                            </td>
                            <td colspan="4"></td>
                            <td class="num neg">
                                -{{ cart.get_discount}} ₽
                            </td>
                        </tr>
                    {% endif %}
    <!--                <tr class="total">-->
    <!--                    <td>Общая стоимость</td>-->
    <!--                    <td colspan="4"></td>-->
    <!--                    <td class="num">{{ cart.get_total_price_after_discount }} ₽</td>-->
    <!--                </tr>-->
                </tbody>
            </table>
        </div>
        {% if recommended_products %}
            <div class="recommendations cart">
                <h3>С этими товарами также покупают</h3>
                {% for p in recommended_products %}
                    <div class="item">
                        <a href="{{ p.get_absolute_url }}">
                            <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                        </a>
                        <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
<!--        <p>Воспользуйтесь купоном:</p>-->
<!--        <form action="{% url 'coupons:apply' %}" method="post">-->
<!--            {{ coupon_apply_form }}-->
<!--            <input type="submit" value="Подтвердить">-->
<!--            {% csrf_token %}-->
<!--        </form>-->

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Скрипт на асинхронное изменение данных в корзине -->
        <script>
            $(document).ready(function() {
            $(document).on('click', '.count-products button', function() {
                var row = $(this).closest('tr');
                var rowCoupon = $(this).closest('.subtotal');

                var productPrice = parseInt(row.find('.product-price').text().split(' ')[0]);
                var price = row.find('.price');
                var currentPrice = parseInt(price.text().split(' ')[0]);

                var totalElement = $('.total-count');
                var currentTotalQuantity = parseInt(totalElement.text().split(' ')[1]);

                var totalPrice = $('.total-price');
                var currentTotalPrice = parseInt(totalPrice.text().split(' ')[0]);

                var subtotal = $('.subtotal-price');
                var currentSubtotal = parseInt(subtotal.text().split(' ')[0]);

                var quantityElement = row.find('[data-counter]');
                var currentQuantity = parseInt(quantityElement.val());
                var action = $(this).data('action');
                if (action === 'plus') {
                    currentQuantity++;
                    currentTotalQuantity++;
                    currentTotalPrice += productPrice;
                    currentPrice += productPrice;
                    currentSubtotal += productPrice;
                } else if (action === 'minus' && currentQuantity > 1) {
                    currentQuantity--;
                    currentTotalQuantity--;
                    currentTotalPrice -= productPrice;
                    currentPrice -= productPrice;
                    currentSubtotal -= productPrice;
                }

                quantityElement.val(currentQuantity);
                totalElement.text('Товары, ' + currentTotalQuantity + ' шт.');
                totalPrice.text(currentTotalPrice + ' ₽');
                price.text(currentPrice + ' ₽');
                subtotal.text(currentSubtotal + ' ₽');

                var productId = row.find('.product-id').val();

                // Отправляем AJAX-запрос для обновления количества товара на сервере
                var productCountData = {
                    'product_id': productId,
                    'product_count': currentQuantity,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                };

                $.ajax({
                    url: '/cart/update/',
                    method: 'POST',
                    data: productCountData,
                    dataType: 'json',
                    success: function(response) {
                        console.log(response.message);
                    },
                    error: function(xhr, errmsg, err) {
                        console.log('Ошибка: ', errmsg);
                    }
                });
            });
        });
        </script>
    </body>
{% endblock %}