{% extends 'shop/base.html' %}

{% block title %}Чат{% endblock %}

{% block content %}
    <div style="width: 1000px; margin-left: 20%;">
    <h1>
        Чат c {{ message.user.last_name }}
        {{ message.user.first_name }}
        ({{ message.user.username }})
    </h1>
    {% for m in messages %}
        {% if m.user.username == 'ahmat' %}
            <div class="message__user__container">
                <h2 class="message__admin__admin">{{m.text}} {{m.time}}</h2>
                <br>
            </div>
        {% else %}
            <h3 class="message__user__text__admin">{{ m.text }} {{ m.time }}</h3>
            <br>
        {% endif %}
    {% endfor %}
    <div style="display: flex; justify-content: center;">
    <form action="{% url 'chat:message' message.user.id %}" method="post" style="margin-bottom: 100px;">
        {% csrf_token %}
        <p>Введите сообщение:</p>
        <div class="chat-input">
            <textarea class="text" type="text" placeholder="Текст..." name="message"></textarea>
            <input type="submit" value="Отправить сообщение">
        </div>
    </form>
    </div>
    </div>
{% endblock %}