{% extends 'shop/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <h1>ООО "Имола"</h1>
    <h2>Стройцентр СОМ

ООО «Имола» - одно из крупнейших торговых предприятий, более 25-ти лет успешно осуществляющее оптово-розничную торговлю строительно-отделочными
материалами на территории РСО-Алания и за ее пределами.
ООО «Имола» является владельцем стройцентра «СОМ», с торговой площадью
2 600 кв.м. и складскими помещениями площадью 10 000 кв.м. Наш ассортимент включает более 20 000 наименований товаров для строительства и ремонта.
Штат торгового центра составляет более 250 человек. Мы нацелены на установление новых связей, на длительное и взаимовыгодное сотрудничество
</h2>
    <section class="section-map">
        <h3 class="section-map__title">Наше местоположение</h3>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad8d9184d638c6d389a082b06a439ca14ca7c677c85257a367446413908cea1ad&amp;source=constructor" width="779" height="426" frameborder="0"></iframe>
    </section>

{% endblock %}