{% extends 'shop/base.html' %}

{% block title %}Добавить товар{% endblock %}


{% block content %}
    <h1>Добавить новый товар</h1>
    <h2>Заполните указанные ниже поля для регистрации нового товара.</h2>
    <div class="add__product__container" style="display: block;">
        <form method="post" style="display: block !important;">
            {% csrf_token %}
            <select name="category">
                {% for category in categories %}
                    <option>{{ category }}</option>
                {% endfor %}
            </select>
            <input type="text" placeholder="Введите имя товара..." name="name">
            <input type="file" name="image">
            <input type="text" name="price" placeholder="Введите стоимость товара...">
            <input type="text" name="discount" placeholder="Введите скидку на товар...">
            <input type="submit" value="Сохранить товар">
        </form>
    </div>
{% endblock %}