{% extends 'shop/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    <h2>
        Телефон для справок: 8 8672 51-16-16<br>
        По вопросам рекламы: reklama@center-com.ru<br>
        Адрес: г. Владикавказ, Московская улица 3<br>
        График работы: ПН-СБ 09:00 - 19:00, ВС 10:00 - 19:00<br>
    </h2>
    <div>
        {% if user.is_authenticated %}
            <p>Вы также можете обратиться к администратору с помощью представленного ниже окна.</p>
            {% if request.user.is_authenticated and request.user.username != 'ahmat' %}
            <div style="display:flex;">
                <p>{{ user.lastname }}</p>
                <p>{{ user.firstname }}</p>
            </div>
            <h1>
                Чат c {{ message.last_name }}
                {{ message.first_name }}
            </h1>
            {% for m in messages %}
                {% if m.user.username == 'ahmat' %}
                    <h2 style="background: #efefef; border-radius: 20px; width:40%; height:100px;">{{m.text}} {{m.time}}</h2>
                {% else %}
                    <h2 style="background: orange; border-radius: 20px; width: 40%; height:100px;">{{ m.text }} {{ m.time }}</h2>
                {% endif %}
            {% endfor %}
            <form action="{% url 'chat:message' request.user.id %}" method="post">
                {% csrf_token %}
                <p>Введите сообщение:</p>
                <input class="text" type="text" placeholder="Текст..." name="message">
                <input type="submit" value="Отправить сообщение">
            </form>
            {% elif request.user.username == 'ahmat' %}
                <h2>Вы не можете отправить сообщение самому себе</h2>
            {% else %}
                <h2>Для отправки сообщения администратору сначала авторизуйтесь</h2>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}