{% extends 'shop/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <h2>
        УСЛОВИЯ ДОСТАВКИ ТЦ СОМ
    </h2>
    <h3>
     1.С 12 января 2024 г. бесплатная доставка будет осуществлена:<br>
По городу - если сумма покупки 5 000 руб. и более;<br>
По республике РСО-Алания ( кроме Моздока и дальних горных сел) - если сумма покупки 25 000 руб. и более;<br>
Дальние горные селения - 50% стоимости доставки грузовым такси , если сумма покупки составляет  25 000 руб.<br>
По Ингушетии ( кроме дальних горных селений) - если сумма покупки 40 000 руб. и более;<br>
КБР , Моздок - 50% стоимости доставки грузовым такси , если сумма покупки составляет 40 000 руб. и более.<br>
     2.Бесплатная доставка за счет магазина день в день НЕ ОСУЩЕСТВЛЯЕТСЯ , только наемным грузовым транспортом за счет клиента и без грузчиков.<br>
    </h3>
{% endblock %}