{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Рассрочка{% endblock %}

{% block content %}
    <h1>Рассрочка</h1>
    <div class="installment-container">
        <img src="{% static 'img/installment.jpg' %}" class="installment-img">
        <h2>
            УСЛОВИЯ РАССРОЧКИ ОТ МАГАЗИНА<br>
            Действует  на сумму<br>
            от 30 тыс. до 60 тыс. первый взнос -30% ( на 6 месяцев)<br>
            от 60 тыс. до 200 тыс. первый взнос -30 % ( на 12 месяцев)<br>
            товар под заказ 50%<br>
            при оформлении рассрочки на сумму свыше 100 тыс.руб заключается Договор поручительства.<br>
            В рамках проекта Внутренняя рассрочка от магазина для жителей Ингушетии 1-й взнос 50%<br>
            Возрастные ограничения: от 23 -64 лет включительно<br>
        </h2>
    </div>
{% endblock %}