{% extends "shop/base.html" %}

{% block title %}Авторизация{% endblock %}

{% block content %}
    <h1>Авторизация</h1>
    {% if form.errors %}
        <p>
            Ваши логин и пароль не совпадают.
            Пожалуйста, попробуйте ещё раз.
        </p>
        {% else %}
        <p>Используйте следующую форму для авторизации</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}