{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">
                {{ product.category }}
            </a>
        </h2>
        <p class="price">{{ product.price }} ₽</p>
<!--        <form action="{% url 'cart:cart_add' product.id %}" method="post">-->
<!--            {{ cart_product }}-->
<!--            {% csrf_token %}-->
<!--            <button type="button" data-action="minus">-</button>-->
<!--            <p data-counter>1</p>-->
<!--            <button type="button" data-action="plus">+</button>-->
<!--            <input type="submit" value="Добавить в корзину">-->
<!--        </form>-->
        <form class="count-products" action="{% url 'cart:cart_add' product.id %}" method="POST">
            {% csrf_token %}
            <button type="button" data-action="minus" class="change-count">-</button>
            <input data-counter name="quantity" value="1" min="1">
            <button type="button" data-action="plus" class="change-count">+</button>
            <input type="submit" class="add_to_cart" value="Добавить в корзину">
        </form>
        {{ product.description|linebreaks }}
        {% if recommended_products %}
            <div class="recommendations">
                <h3>Вместе с этим товаров покупают</h3>
                {% for p in recommended_products %}
                    <div class="item">
                        <a href="{{ p.get_absolute_url }}">
                            <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                        </a>
                        <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(document).on('click', '.count-products button', function() {
                var row = $(this).closest('.product-detail');

                var quantityElement = row.find('[data-counter]');
                var currentQuantity = parseInt(quantityElement.val());
                var action = $(this).data('action');
                if (action === 'plus') {
                    currentQuantity++;
                } else if (action === 'minus' && currentQuantity > 1) {
                    currentQuantity--;
                }

                quantityElement.val(currentQuantity);
            });
        });
        $(document).ready(function() {
            $(document).on('click', '.add_to_cart', function() {
                alert('Товар успешно добавлен в корзину');
            });
        });
    </script>
{% endblock %}