{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">
                {{ product.category }}
            </a>
        </h2>
        <p class="price">{{ product.price }} ₽</p>
<!--        <form action="{% url 'cart:cart_add' product.id %}" method="post">-->
<!--            {{ cart_product }}-->
<!--            {% csrf_token %}-->
<!--            <button type="button" data-action="minus">-</button>-->
<!--            <p data-counter>1</p>-->
<!--            <button type="button" data-action="plus">+</button>-->
<!--            <input type="submit" value="Добавить в корзину">-->
<!--        </form>-->
        <form action="{% url 'cart:cart_add' product.id %}" method="POST">
            {% csrf_token %}
            <input type="number" name="quantity" value="1" min="1">
            <input type="submit" value="Добавить в корзину">
        </form>
        {{ product.description|linebreaks }}
        {% if recommended_products %}
            <div class="recommendations">
                <h3>Вместе с этим товаров покупают</h3>
                {% for p in recommended_products %}
                    <div class="item">
                        <a href="{{ p.get_absolute_url }}">
                            <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                        </a>
                        <p><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Проверяем, начинается ли куки с нужного имени
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $(document).ready(function() {
            // Обработчик клика на кнопки плюса и минуса
            $('.count-products button').on('click', function() {
                // Получаем текущее значение количества товара
                var quantityElement = $(this).siblings('[data-counter]');
                var currentQuantity = parseInt(quantityElement.text());

                // Определяем действие (увеличение или уменьшение)
                var action = $(this).data('action');
                if (action === 'plus') {
                    currentQuantity++;
                } else if (action === 'minus' && currentQuantity > 1) {
                    currentQuantity--;
                }

                // Обновляем отображение количества товара
                quantityElement.text(currentQuantity);

                // Отправляем AJAX-запрос для обновления количества товара на сервере
                var productCountData = {
                    product_count: currentQuantity
                };

                console.log('Отправленные данные:', productCountData);  // Добавьте эту строку

                $.ajax({
                    url: "{% url 'cart:save_data' %}",
                    method: 'POST',
                    headers: {"X-CSRFToken": getCookie('csrftoken')},
                    data: productCountData,
                    success: function(response) {
                        console.log('Данные успешно отправлены на сервер');
                    },
                    error: function(xhr, errmsg, err) {
                        console.log('Ошибка: ', errmsg);
                    }
                });
            });
        });
    </script>
{% endblock %}