{% load static %}

{% for product in filter %}
    <div class="item" style="padding-bottom: 0; position: relative;">
        <a href="{{ product.get_absolute_url }}">
            <img style="" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
        </a>
        <div style="margin-bottom: 1%; bottom: 30%; right: 25%; position: absolute;">
            <a class="wrapper-break" style="padding-right: 0; text-align: right;" href="{{ product.get_absolute_url }}">
                {{ product.name }}
            </a>
            <br>
            <p style="text-align: right;">{{ product.price }} ₽</p>
        </div>
    </div>
{% endfor %}