{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar-custom">
        <h3>Категории</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url 'shop:product_list' %}">Все</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list" style="padding-right: 200px; overflow: scroll; padding-left: 70px;">
        <h1>{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
        {% for product in products %}
            <div class="item" style="height: 500px;">
                <a href="{{ product.get_absolute_url }}">
                    <img class="img-size" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a class="wrapper-break" style="" href="{{ product.get_absolute_url }}">
                    {{ product.name }}
                </a>
                <br>
                <p style="text-align: right">{{ product.price }} ₽</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}