{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar-custom" style="z-index: 2;">
        <h3 style="color: #111111;">Каталог</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">Все</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div class="wrapper">
            <header>
                <h2>Цена</h2>
            </header>
            <div class="price-input">
                <div class="field">
                    <span>от</span>
                    <input type="number" class="input-min" value="2500">
                </div>
                <div class="separator">-</div>
                <div class="field">
                    <span>до</span>
                    <input type="number" class="input-max" value="300000">
                </div>
            </div>
            <div class="slider">
            <div class="progress"></div>
            </div>
            <div class="range-input">
                <input type="range" class="range-min" min="0" max="500000" value="2500">
                <input type="range" class="range-max" min="0" max="500000" value="300000">
            </div>
        </div>
    </div>
    <div id="main" class="product-list">
        <h1 style="margin-bottom: 10%; width: 100%;">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
        <div id="product-container">
            {% include 'shop/product/list_partial.html' %}
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Функция для обновления списка товаров
    function updateProductList(minPrice, maxPrice) {
        $.ajax({
            url: '', // текущий URL
            type: 'GET',
            data: {
                min_price: minPrice,
                max_price: maxPrice
            },
            success: function(data) {
                $('#product-container').html(data); // Обновляем содержимое контейнера товаров
            },
            error: function(xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    }

    // Инициализация слайдера и ввода значений
    function initializeSlider() {
        let minVal = parseInt(priceInput[0].value),
            maxVal = parseInt(priceInput[1].value);

        rangeInput[0].value = minVal;
        rangeInput[1].value = maxVal;

        progress.style.left = (minVal / rangeInput[0].max) * 100 + '%';
        progress.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + '%';
    }

    // При изменении значений фильтра
    $('.price-input input').on('input', function() {
        var minPrice = $('.input-min').val();
        var maxPrice = $('.input-max').val();
        updateProductList(minPrice, maxPrice); // Обновляем список товаров с учетом новых значений фильтра
    });

    const rangeInput = document.querySelectorAll(".range-input input"),
    priceInput = document.querySelectorAll(".price-input input"),
    progress = document.querySelector(".slider .progress");

    let priceGap = 40000;

    priceInput.forEach(input => {
        input.addEventListener("input", e => {
            let minVal = parseInt(priceInput[0].value),
                maxVal = parseInt(priceInput[1].value);

            if (maxVal - minVal >= priceGap) {
                if (e.target.className === 'input-min') {
                    rangeInput[0].value = minVal;
                    progress.style.left = (minVal / rangeInput[0].max) * 100 + '%';
                } else {
                    rangeInput[1].value = maxVal;
                    progress.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + '%';
                }
                updateProductList(minVal, maxVal);
            }
        });
    });

    rangeInput.forEach(input => {
        input.addEventListener("input", e => {
            let minVal = parseInt(rangeInput[0].value),
                maxVal = parseInt(rangeInput[1].value);

            if (maxVal - minVal < priceGap) {
                if (e.target.className === 'range-min') {
                    rangeInput[0].value = maxVal - priceGap;
                } else {
                    rangeInput[1].value = minVal + priceGap;
                }
            } else {
                priceInput[0].value = minVal;
                priceInput[1].value = maxVal;
                progress.style.left = (minVal / rangeInput[0].max) * 100 + '%';
                progress.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + '%';
                updateProductList(minVal, maxVal);
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        initializeSlider();
    });
</script>
{% endblock %}
