{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Товары{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar-custom" style="z-index: 2;">
        <h3 style="color: #111111;">Каталог</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">Все</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <!-- Фильтр по цене -->
        <div class="wrapper">
            <header>
                <h2>Цена</h2>
            </header>
            <div class="price-input">
                <div class="field">
                    <span>от</span>
                    <input type="number" class="input-min" value="2500">
                </div>
                <div class="separator">-</div>
                <div class="field">
                    <span>до</span>
                    <input type="number" class="input-max" value="300000">
                </div>
            </div>
            <div class="slider">
                <div class="progress"></div>
            </div>
            <div class="range-input">
                <input type="range" class="range-min" min="0" max="500000" value="2500">
                <input type="range" class="range-max" min="0" max="500000" value="300000">
            </div>
        </div>

        <!-- Фильтр по цвету -->
        <div class="wrapper">
            <header>
                <h2>Цвет</h2>
            </header>
                <div class="filter-options">
                    {% for color in colors %}
                        <input type="checkbox" name="color[]" class="filter-checkbox" value="{{ color }}" id="color{{ forloop.counter }}">
                        <label for="color{{ forloop.counter }}">{{ color }}</label><br>
                    {% endfor %}
                </div>
        </div>

<!-- Фильтр по производителю -->
        <div class="wrapper">
            <header>
                <h2>Производитель</h2>
            </header>
                <div class="filter-options">
                    {% for manufacturer in manufacturers %}
                        <input type="checkbox" name="manufacturer[]" class="filter-checkbox" value="{{ manufacturer }}" id="manufacturer{{ forloop.counter }}">
                        <label for="manufacturer{{ forloop.counter }}">{{ manufacturer }}</label><br>
                    {% endfor %}
                </div>
        </div>

<!-- Фильтр по материалу -->
        <div class="wrapper">
            <header>
                <h2>Материал</h2>
            </header>
                <div class="filter-options">
                    {% for material in materials %}
                        <input type="checkbox" name="material[]" class="filter-checkbox" value="{{ material }}" id="material{{ forloop.counter }}">
                        <label for="material{{ forloop.counter }}">{{ material }}</label><br>
                    {% endfor %}
                </div>
        </div>

<!-- Фильтр по длине -->
        <div class="wrapper">
            <header>
                <h2>Длина</h2>
            </header>
                <div class="filter-options">
                    {% for length in lengths %}
                        <input type="checkbox" name="length[]" class="filter-checkbox" value="{{ length }}" id="length{{ forloop.counter }}">
                        <label for="length{{ forloop.counter }}">{{ length }}</label><br>
                    {% endfor %}
                </div>
        </div>

<!-- Фильтр по ширине -->
        <div class="wrapper">
            <header>
                <h2>Ширина</h2>
            </header>
                <div class="filter-options">
                    {% for width in widths %}
                        <input type="checkbox" name="width[]" class="filter-checkbox" value="{{ width }}" id="width{{ forloop.counter }}">
                        <label for="width{{ forloop.counter }}">{{ width }}</label><br>
                    {% endfor %}
                </div>
        </div>

<!-- Фильтр по высоте -->
        <div class="wrapper">
            <header>
                <h2>Высота</h2>
            </header>
                <div class="filter-options">
                    {% for height in heights %}
                        <input type="checkbox" name="height[]" class="filter-checkbox" value="{{ height }}" id="height{{ forloop.counter }}">
                        <label for="height{{ forloop.counter }}">{{ height }}</label><br>
                    {% endfor %}
                </div>
        </div>


    </div>

    <div id="main" class="product-list">
        <h1 style="margin-bottom: 10%; width: 100%;">{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>
        <div id="product-container">
            {% include 'shop/product/list_partial.html' %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
function updateProductList() {
    let filters = {
        min_price: $('.input-min').val(),
        max_price: $('.input-max').val(),
        color: [],
        manufacturer: [],
        material: [],
        length: [],
        width: [],
        height: []
    };

    $('.filter-checkbox:checked').each(function() {
        let name = $(this).attr('name');
        let value = $(this).val();
        console.log("Name:", name, "Value:", value); // Отладочный вывод
        if (name.endsWith('[]')) {
            name = name.slice(0, -2); // Убираем квадратные скобки из имени
            if (filters[name] === undefined) {
                filters[name] = []; // Проверяем, существует ли массив, если нет, создаем его
            }
            filters[name].push(value);
        } else {
            filters[name] = value;
        }
    });

    $.ajax({
        url: '',
        type: 'GET',
        data: filters,
        success: function(data) {
            $('#product-container').html(data);
        },
        error: function(xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
}




        function initializeSlider() {
            let minVal = parseInt($('.input-min').val()),
                maxVal = parseInt($('.input-max').val());

            $('.range-min').val(minVal);
            $('.range-max').val(maxVal);

            $('.progress').css({
                left: (minVal / $('.range-min').attr('max')) * 100 + '%',
                right: 100 - (maxVal / $('.range-max').attr('max')) * 100 + '%'
            });
        }

        $(document).on('input', '.price-input input', function() {
            updateProductList();
        });

        $(document).on('change', '.filter-checkbox', function() {
            updateProductList();
        });

        $('.range-input input').on('input', function() {
            let minVal = parseInt($('.range-min').val()),
                maxVal = parseInt($('.range-max').val());

            if (maxVal - minVal < 40000) {
                if ($(this).hasClass('range-min')) {
                    $('.range-min').val(maxVal - 40000);
                } else {
                    $('.range-max').val(minVal + 40000);
                }
            } else {
                $('.input-min').val(minVal);
                $('.input-max').val(maxVal);
                $('.progress').css({
                    left: (minVal / $('.range-min').attr('max')) * 100 + '%',
                    right: 100 - (maxVal / $('.range-max').attr('max')) * 100 + '%'
                });
                updateProductList();
            }
        });

        $(document).ready(function() {
            initializeSlider();
        });
$('.filter-checkbox:checked').each(function() {
    let name = $(this).attr('name');
    let value = $(this).val();
    console.log("Name:", name, "Value:", value); // Отладочный вывод
    if (name.slice(-2) === '[]') {
        name = name.slice(0, -2); // Удалить квадратные скобки
        if (!filters[name]) {
            filters[name] = []; // Создать массив, если он не существует
        }
        filters[name].push(value);
    } else {
        filters[name] = value; // Просто установить значение, если это не массив
    }
});


    </script>
{% endblock %}
