@import url(//fonts.googleapis.com/css?family=Ubuntu);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:#5993bb;
}

a:hover {
    color:#77b6e2;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#F77B07;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#fff;
}

tbody tr.subtotal {
    background:#fff;
}

thead th, tbody tr.total {
    background: #fff;
    color:#fff;
    font-weight:bold;
}

.cart {
    color: black;
    background-color: #fff;
    width: 60%;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}
form p {
    margin-bottom: 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0 0 0 10px;
   padding:10px 0;
}


#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#subheader {
    background:#ececec;
    color:#444;
    padding:15px 100px;
    overflow:auto;
}

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:22px;
    margin-right:10%;
}

#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}

.product-list {
    width: 90%;
    height: 100%;
    margin-left: 50px;
}

.product-list .item {
    width: 30%;
    padding:10px 20px 10px 0;
    padding-right: 50px;
    float:left;
    text-align:center;
    line-height:1.2;
    height: 500px;
    align-items: flex-start;
}

.product-list .item img {
    width:100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.product-detail {
    text-align:justify;
}

.img-container {
    min-height: 200px;
    width: 600px;
    min-height: 400px;
    max-height: 600px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}

.img-detail {
    display: flex;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    max-width: 90%;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    border:4px solid #111;
    border-radius: 20px;
    padding: 1%;
}

.order-info ul {
    padding-left: 1%;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
    background: #f6f6f9;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: #343535;
    height: 120px;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15px;
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0%;
}


.container {
  justify-content: center;
  align-items: center;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: #F77B07;
  color: white;
  border: 1px solid #F77B07;
  outline: none;
  transition: 1s ease-in-out;
  font-size: 16px;
  margin-right: 30px;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: white;
  color: #F77B07;
}

.ul-nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.li-nav {
    margin-right: 100px;
}

.li-nav:last-child {
    margin-right: 0px;
}

.logo {
    width: 220px;
    margin-right: 5%;
}

.logo_img {
  height: 75px;
}

.form_search {
    background: #343535;
    margin-top: 0.5%;
    margin-right: 4%;
}

.form_search input {
  border-radius: 17px;
  background: #fff;
  outline: none;
  width: 200px;
  height: 42px;
  transition: .5s;
  border: none;
  padding-left: 15px;
}

.form_search input:focus {
  width: 640px;
  background-color: white;
}

.form_search button {
  cursor: pointer;
  background: none;
  border: none;
  margin-top: 6px;
  margin-left: -40px;
  font-size: 20px;
  color: #343535;
}

.account_icon_light {
  position: relative;
  margin-top: 12px;
  width: 40px;
  height: 40px;
}

.account_icon_orange {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-top: 12px;
}

.account_icon_light:hover {
  opacity: 0;
}

.under-header {
  background-color: #343535;
  padding-left: 22%;
  height: 50px;
  display: flex;
  border-top: 1px solid #ADABA8;
  position: sticky;
  top: 11%;
  z-index: 1;
}

.nav-div {
  color: #fff;
  padding-left: 0.8%;
  border-right: 1px solid #ADABA8;
  padding-top: 1.2%;
  padding-right: 5%;
  text-align: left;
}

.nav-div:first-child {
  border-left: 1px solid #ADABA8;
}

.link-nav {
  text-decoration: none;
  color: #fff;
}

.link-nav:hover {
  color: #F77B07;
}

.img-size {height: 10px;}
.wrapper-break {
    word-wrap: break-word;
    color: black;
    margin-top: 40%;
    padding-bottom: 10px;
}

#sidebar-custom {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar-custom ul{
    margin:0;
    padding:0;
}

#sidebar-custom ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar-custom ul li a {
    display:block;
}

#sidebar-custom ul li.selected {
    background:#F77B07;
    border-radius:4px;
}

#sidebar-custom ul li.selected a {
    color:#fff;
}
a {
    text-decoration:none;
    color:#343535;
}

a:hover {
    color:#F77B07;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.product-list {
    padding-right: 200px;
    flex-wrap: wrap;
    overflow: scroll;
    padding-left: 70px;
    width: 100%;
    height: 100%;
    display: flex;
}

@media only screen and (max-width: 1600px) {
    .product-list {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.sidebar {
    margin-left: 75%;
    border-radius: 42px;
}

.address {
    margin-top: 0;
    margin-bottom: 0;
    color: #F77B07;
    text-decoration: none;
    height: 9%;
}

.address:hover {
    border-bottom: 1px solid #F77B07;
}

.placing-order {
    color:#fff;
    border-radius:4px;
    font-size:14px;
    border:0;
    margin-bottom: 1%;
    text-align: center;
    width: 100%;
}

.placing-order:hover {
    color: #fff;
}

.place-order-div {
    height: 20%;
    width: 98%;
    background-color: #F77B07;
    border-radius: 10px;
}

.place-order-div:hover {
    background: #F8881C;
}

.wrapper {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    padding: 20px 25px 40px;
}

header h2 {
    font-size: 24px;
    font-weight: 600;
}

header p {
    margin-top: 5px;
    font-size: 16px;
}

.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

.price-input .field {
    height: 45px;
    display: flex;
    width: 100%;
    align-items: center;
}

.field input {
    width: 100%;
    height: 100%;
    outline: none;
    text-align: center;
    font-size: 19px;
    margin-left: 12px;
    border-radius: 5px;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

.price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
}

.slider .progress {
    height: 5px;
    position: absolute;
    left: 0;
    right: 0;
    border-radius: 5px;
    background: #F77B07;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
}

input[type='range']::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    -webkit-appearance: none;
    pointer-events: auto;
    background: #F77B07;
    border-radius: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 300px;
    margin-right: 400px;
}

.profile-data {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    position: relative;
}

.profile-data::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: black; /* Цвет подчеркивания */
}


.profile-data h3 {
    margin: 5px 0;
    padding: 0 10px;
    flex: 1;
}

.profile-data h4 {
    margin: 5px 0;
    padding: 0 10px;
}

.profile-data:first-child::after  {
    background-color: white;
}

.beauty-button {
    color:#fff;
    background:#F77B07;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
    height: 40px;
    margin-top: 13px;
}

.beauty-button:hover {
    cursor: pointer;
}

/* Hide the default checkbox */
.filter-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom checkbox appearance */
.filter-checkbox + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  user-select: none;
  margin-bottom: 10px; /* Add margin between checkbox elements */
}

/* Optional: To ensure consistent spacing even without <br> elements */
.filter-options label {
  display: block;
  margin-bottom: 10px; /* Add margin between label elements */
}

.filter-checkbox + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #CB22ED;
  border-radius: 3px;
  background-color: #fff;
  transition: background-color 0.2s, border-color 0.2s;
}

.filter-checkbox:checked + label::before {
  background-color: #fff;
}

.filter-checkbox + label::after {
  content: '✓';
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #CB22ED;
  transition: opacity 0.2s, transform 0.2s;
  opacity: 0;
  transform: scale(0) rotate(45deg);
}

.filter-checkbox:checked + label::after {
  opacity: 1;
  transform: scale(1) rotate(0);
}

/* Disabled checkbox */
.filter-checkbox:disabled + label::before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #e9e9e9;
}

.filter-checkbox:disabled:checked + label::after {
  color: #777;
}

.filter-checkbox:disabled + label {
  color: #aaa;
}

/* Accessibility */
.filter-checkbox:focus + label::before {
  box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 5px rgba(240, 160, 22, .3);
}

.filter-checkbox + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #F77B07;
  border-radius: 3px;
  background-color: #fff;
  transition: background-color 0.2s, border-color 0.2s;
  text-align: center; /* Центрирование галочки */
}

.filter-checkbox:checked + label::before {
  background-color: #fff;
}

.filter-checkbox + label::after {
  content: '✓';
  position: absolute;
  left: 5px;
  top: 2%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #F77B07;
  transition: opacity 0.2s, transform 0.2s;
  opacity: 0;
}

.filter-checkbox:checked + label::after {
  opacity: 1;
}

.change-count {
    background: #fff;
    color: black;
    border: 2px solid #e7e7e7;
    width: 35px;
    height: 30px;
}

.change-count:hover {
    cursor: pointer;
    background: #b0b0b0;
    border: 2px solid #b0b0b0;
}

.change-count:focus {
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 3px rgba(176, 176, 176, .3);
}

.quantity-input {
    border: none;
    width: 80%;
    text-align: center;
}
.quantity-input__cart {
    border: none;
    width: 30%;
    text-align: center;
}

.quantity-input:focus {
  outline: none;
  border-color: transparent;
}

.count-products {
    padding-left:5%;
    padding-right: 0;
    display:flex;
    justify-content: center;
    text-align: center;
    padding-top: 27%;
}

.count-products-detail {
    width: 25%;
}

.product-hover {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    transition: all 0.3s ease-in-out;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    z-index: 10;
}

.list-img {
    width: 10px;
    height: 10px;
}

.cart-price {
    width: 10%;
}

ul {
    list-style-type: none;
}

.section-map__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

iframe {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.installment-img {
    max-width: 400px;
    max-height: 400px;
    margin-right: 2%;
}

.installment-container {
    display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,1
  'opsz' 24
}

.mark {
    font-size: 25px;
    outline: none;
    background: #fff;
}

.mark:hover {
    color: #343535;
    cursor: pointer;
}

.text {
    width: 400px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .4);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    width: 1000px;
    padding: 45px;
    z-index: 1;
    background-color: white;
    margin: 30px 15px;
    box-shadow: 0px 0px 17px -7px rgba(34,60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
    border-radius: 20px;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}


.modal__box-btn {
    position: absolute;
    top: 8px;
    right: 20px;
    border: none;
    background-color: transparent;
    padding: 5px;
    margin: 40px;
}

.modal__box-btn svg path {
    transition: fill .4s;
    fill: #808080;
}

.modal__box-btn:hover svg path {
    fill: #F77B07;
}

.open-modal-btn {
    width: 75px;
    height:75px;
    margin-top: 40%;
    position: fixed;
    border-radius: 20px;
    border: none;
    margin-left: 92%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Расстояние между карточками */
    justify-content: start; /* Центрирует карточки по горизонтали */
    margin-bottom: 50px;
}

.card {
    width: 300px;
    min-height: 400px;
    max-height: 500px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    position: relative;
    transition: 0.2s;
    padding: 10px;
}

.card:hover {
    box-shadow: 4px 8px 16px rgba(79,76,76, 0.3);
    transition: 0.2s;
}

.card__label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 4px 8px;
    background-color: red;
    border-radius: 4px;
    color: #fff;
}

.card__top {
    flex: 0 0 220px;
    max-height: 5cm;
    position: relative;
    overflow: hidden;
}

.card__bottom {
    flex: 1 0 auto;
}

.card__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.card__img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}

.card__img:hover > img {
    transform: scale(1.1);
}

.card__prices {
    display: flex;
    margin-bottom: 20px;
}

.card__price {
    width: 50%;
}

.card__price::after {
    content: "\20BD";
    margin-left: 4px;
}

.card__price--discount {
    margin-top: 10px;
    font-weight: 700;
    font-size: 19px;
    color: #414141;
    position: relative;
}

.card__price--discount::before {
    content: "Со скидкой";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
    position: absolute; /* Добавить это свойство */
    bottom: -10px; /* Подстройка положения текста под ценой */
    left: 0; /* Подстройка положения текста под ценой */
}

.card__price--common {
    margin-top: 10px;
    font-weight: 400;
    font-size: 17px;
    color: #606060;
    position: relative;
    display: flex;
    justify-content: end;
}

.card__price--common::before {
    content: "Обычная";
    font-weight: 400;
    font-size: 13px;
    color: #bfbfbf;
    position: absolute;
    bottom: -10px;
    justify-content: end;
}

.card__title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.2;
    color: #414141;
    top: 10px;
}

.card__title:hover {
    color: #F77B07;
    transition: 0.2s;
}

form .add_to_cart {
    display: block;
    width: 200px;
    font-weight: 400;
    font-size: 15px;
    color: #4F4C4C;
    background-color: #fff;
    text-align: center;
    border: 1px solid #4F4C4C;
    border-radius: 4px;
    justify-content: center;
}

.add_to_cart:hover {
    background-color: #4F4C4C;
    color: #fff;
}

.add-to-cart-form {
    display: flex;
}

.card__price__without__discount {
    margin-top: 10px;
    color: #414141;
    position: relative;
    display: flex;
    justify-content: end;
    font-weight: 700;
    font-size: 19px;
}

.card__price__without__discount::after {
    content: "\20BD";
    margin-left: 4px;
}

.rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-value {
    display: flex;
    align-items: center;
}

.rating-star {
    font-size: 18px;
    margin-left: 5px; /* Чтобы звезда не прилипала к числу */
}

.detail-img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .4);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.detail-img.open {
    visibility: visible;
    opacity: 1;
    background-color: #111;
}

.product-zoom-img {
    width: 100%;
}

.review__input {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    resize: none; /* Отключает изменение размера textarea */
}

.grade__container {
    display: flex;
    gap: 20px;
}

.review__container {
    display: block;
    margin-bottom: 50px;
    width: 50%;
    border-radius:20px;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;
}

.review__grade {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__user {
    display: flex;
    gap: 10px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/static/img/login_img2.jpg');
}

.wrapper-login {
  width: 420px;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper-login h1 {
  font-size: 36px;
  text-align: center;

}

.wrapper-login .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper-login .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
}

.wrapper-login .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper-login .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.btn-register {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.login_link {
    font-size: 20px;
    text-decoration: underline;
}

body, ul {
    margin: 0;
    padding: 0;
}

.menu-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 999;
    margin-left: 25%;
    border-radius: 8px;
    border: 1px solid #fff;
    width: 3%;
    align-items: center;
}

.btn-line {
    width: 40px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease;
    background-color: #fff;
    outline: none;
}

.btn-line:focus {
    background-color: #111;
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 10px);
    max-width: 250px;
    height: 100%;
    background-color: #ffff;
    transition: all 0.3s ease;
    z-index: 99;
    margin-top: 8%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-items {
    list-style: none;
}

.menu-items li {
    padding: 15px;
}

.menu-items li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.menu-open {
    left: 0;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: relative;
    background-color: #fff;
    color: #111;
}

.submenu li {
    padding: 8px 20px;
}

.has-submenu:hover .submenu {
    display: block;
}

.has-submenu:hover {
    background-color: #F77B07;
}

.has-submenu:hover a {
    color: #fff;
}

.submenu-right {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 160px;
}

.menu .has-submenu:hover .submenu-right {
    display: block;
}

.menu li a {
    text-decoration: none;
}

.menu .submenu-right {
    display: none;
}

.submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    border-radius: 12px;
}
.has-submenu {
    position: relative;
}

.page__link {
    background-color: #333333;
    color: #fff;
    width: 3%;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    border-radius: 40px;
}

.page__link:hover {
    background-color: #F77B07;
    color: #fff;
}

.page__container {
    display: flex;
    justify-content: center;
    gap: 40px;
    position: absolute;
    width: 60%;
}

.page__link:focus {
    background-color: #F77B07;
    color: #fff;
}

.chat-input {
    display: flex;
    text-align: center;
    gap: 5px;
}

.chat-detail {
    background: #efefef;
    width: 30%;
    max-height: 200px;
    min-height: 60px;
    border-radius: 40px;
    padding-left: 2%;
}

.chat-detail__input {
    display: flex;
}

.chat-detail__last-name {
    padding-right: 1%;
}

.message__admin {
    background: #efefef;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-bottom: 0;
}

.message__user__container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.message__user__text {
    background-color: orange;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-bottom: 0;
}

.chat__header {
    position: sticky;
    background-color: #fff;
    z-index: 1;
    top: 0;
}

.list-subcategory a {
    color: #111 !important;
}

.list-subcategory:hover a {
    color: #fff !important;
}

.list-subcategory:hover {
    background-color: #F77B07;
}

.message__admin__admin {
    background: orange;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-bottom: 0;
    box-shadow: 5px 3px 4px 3px rgba(0, 0, 0, 0.1);
}

.message__user__text__admin {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    margin-bottom: 0;
    box-shadow: 5px 3px 4px 3px rgba(0, 0, 0, 0.1);
}

.cart__sidebar {
    width: 20%;
    height: 230px;
    background: #fff;
    display: block;
    position: absolute;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

.change-count__cart {
    background: #fff;
    color: black;
    border: 2px solid #e7e7e7;
    width: 30px;
    height: 30px;
}

.change-count__cart:hover {
    cursor: pointer;
    background: #b0b0b0;
    border: 2px solid #b0b0b0;
}

.img__modal {
    width: 70px;
    height: 70px;
}