{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}СОМ{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <div class="logo"><a href="/"><img class="logo_img" src='{% static "img/result.png" %}'></a></div>
            <div class="container">
                <div>
                    <a href="#">
                        <button class="btn">
                            <svg width="180px" height="60px" viewBox="0 0 0 0" class="border">
                                <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                                <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                            </svg>
                        <span>КАТАЛОГ</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="form_search">
                <form action="{% url 'shop:product_list' %}" method="get">
                  <input type="text" placeholder="Искать здесь..." name="search_field">
                  <button type="submit">🔍︎</button>
                </form>
            </div>
            <div>
                <ul class="ul-nav">
                    {% if request.user.is_authenticated %}
                        <li class="li-nav"><a href="#"><img class="account_icon_orange" src='{% static "img/account_icon_orange.png" %}'></a></li>
                        <li class="li-nav"><a href="{% url 'account:profile' user.id %}"><img class="account_icon_light" src='{% static "img/account_icon_light.png" %}'></a></li>
                    {% else %}
                        <li class="li-nav"><a href="#"><img class="account_icon_orange" src='{% static "img/account_icon_orange.png" %}'></a></li>
                        <li class="li-nav"><a href="{% url 'account:login' %}"><img class="account_icon_light" src='{% static "img/account_icon_light.png" %}'></a></li>
                    {% endif %}
                </ul>
            </div>
            <div>
                <ul class="ul-nav">
                    <li class="li-nav"><a href="#"><img class="account_icon_orange" style="margin-top: 14px;" src='{% static "img/basket_orange.png" %}'></a></li>
                    <li class="li-nav"><a href="{% url 'cart:cart_detail' %}"><img class="account_icon_light" style="margin-top: 14px;" src='{% static "img/basket_light.png" %}'></a></li>
                </ul>
            </div>
        </div>
        <div class="under-header">
            <div class="nav-div"><a class="link-nav" href="{% url 'shop:about' %}">О НАС</a></div>
            <div class="nav-div"><a class="link-nav" href="{% url 'shop:delivery' %}">ДОСТАВКА</a></div>
            <div class="nav-div"><a class="link-nav" href="{% url 'shop:contacts' %}">КОНТАКТЫ</a></div>
            <div class="nav-div"><a class="link-nav" href="{% url 'shop:installment' %}">РАССРОЧКА</a></div>
            {% if request.user.username == 'ahmat' %}
                <div class="nav-div"><a class="link-nav" href="{% url 'chat:chat_list' %}">ЧАТ</a></div>
            {% endif %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>